* {
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
}

body {
  background-color: #d5bdaf;
  color: black;
}

/* ---------- Cover ---------- */
.cover {
  background-image: linear-gradient(rgba(9, 4, 30, 0), #d5bdaf),
    url(../img/cover.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}
.cover-title p {
  font-family: "Silkscreen", cursive;
  color: #343a40;
  font-size: 60px;
  padding: 35vh 50px 100px;
  text-align: center;
}
.cover-title P::after {
  content: "";
  background-color: #f77f00;
  margin: auto;
  width: 250px;
  height: 9px;
  display: block;
  margin-top: 20px;
}

@media only screen and (max-width: 730px) {
  .cover-title p {
    font-size: 25px;
    text-align: center;
  }
}
