/*---- First Body ----*/

.first {
  background-color: #d5bdaf;
  max-width: 100%;
  padding: 40px 145px;
}

.first-header p {
  color: #343a40;
  font-size: 30px;
}

.first-info {
  display: flex;
  justify-content: space-between;
}
.first-first-info,
.first-second-info,
.first-third-info {
  flex: 1;
  color: black;
}
.first-first-info,
.first-second-info,
.first-third-info p {
  margin: 10px 25px 10px 0;
  width: 100%;
  height: 100%;
  font-size: 17px;
}

.first-herobutton {
  margin: 30px 0 0 0;
}
.first-herobutton a {
  text-decoration: none;
  color: white;
  background-color: #343a40;
  border: none;
  padding: 8px 13px;
  border-radius: 3px;
}

/* ------------------------------------- */

@media only screen and (max-width: 950px) {
  .first {
    padding: 40px 30px;
  }
  .first-all {
    display: flex;
    display: block;
    text-align: center;
  }

  .first-header p {
    font-size: 20px;
  }

  .first-info {
    display: flex;
    display: block;
    align-items: center;
  }
  .first-first-info,
  .first-second-info,
  .first-third-info {
    text-align: center;
    padding: 10px 0;
  }
  .first-first-info,
  .first-second-info,
  .first-third-info p {
    margin: 10px 25px 10px 0;
    width: 100%;
    height: 100%;
    font-size: 13px;
  }

  .first-herobutton {
    margin: 30px 0 0 0;
  }
}
