/* --------------- last cover ------------------ */

.last-cover {
  background-image: linear-gradient(#d5bdaf, rgba(9, 4, 30, 0.6)),
    url(../img/cover\ last.jpg);
  width: 100%;
  min-height: 22vh;
  background-position: center;
  background-size: cover;
  position: relative;
  border: none;
}

/* --------------- last section ------------------ */

.last-section {
  padding: 90px 145px 40px 145px;
  display: flex;
}

/* first */
.last-section-first {
  width: 50%;
  margin-block: 20px;
}
.last-section-first-head p {
  color: #343a40;
  font-size: 19px;
  font-weight: bold;
}
.last-section-first-one p {
  font-size: 15px;
  margin-bottom: 20px;
}
.last-section-first-two p {
  font-size: 15px;
}

/* second */
.last-div {
  width: 40%;
}

.last-section-second {
  border: 13.3px solid #6d6875;
  width: 100%;
  padding: 30px;
}
.last-follow-us {
  color: #343a40;
  font-size: 36px;
}
.last-section-second p {
  padding-top: 15px;
  padding-bottom: 25px;
  font-size: 15px;
}
.last-section-second a {
  text-decoration: none;
  background-color: #343a40;
  border: none;
  border-radius: 3px;
  padding: 9px 30px;
  color: white;
}

/* --------------------------------------- */

@media only screen and (max-width: 950px) {
  hr {
    margin: 10px 30px;
  }

  .last-section {
    padding: 30px 30px;
    display: block;
  }
  .last-section-first {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .last-div {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .last-section-second {
    border: 13.3px solid #6d6875;
    width: 50%;
    padding: 30px;
  }
}
