/* ----- second Body ----- */

.second {
  padding: 60px 100px 0 100px;
}
.both {
  display: flex;
}
.second-one {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 14.5rem);
}
.image-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.image-1 {
  margin: 5px;
}
.image-3 {
  margin: 5px;
  border: 13.3px solid #f77f00;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
  text-align: center;
}
.image-3 p {
  color: black;
  font-weight: bold;
  font-size: 35px;
}
.two {
  width: 50%;
}
.two p {
  padding: 20px 30px;
  color: black;
  font-size: 15.5px;
}

.two a {
  border: none;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  background-color: #161b33;
  padding: 8px 13px;
  margin: 2px 30px;
}

/* ------------------------------------------------ */

@media only screen and (max-width: 950px) {
  .second {
    padding: 30px 30px;
  }

  .both {
    display: block;
  }

  .second-one {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 14.5rem);
  }

  .image-3 {
    border: none;
    display: block;
    grid-column: 1 / span 3;
    grid-row: 2 / span 3;
    display: flex;
    justify-content: left;
  }
  .image-3 p {
    color: #f77f00;
    font-size: 20px;
    padding-top: 20px;
    font-weight: lighter;
  }
  .two p {
    padding: 10px 0 25px 0;
    font-size: 13px;
  }
  .two {
    width: 100%;
  }
  .two a {
    margin: 2px 0;
  }
}
