/* --------------- third section ------------------ */

/*third-first-row-first*/
.third {
  margin: 150px 145px;
}
.third-first-row {
  height: 450px;
  display: flex;
}
.first-row-first {
  width: 50%;
  padding: 7px;
}
.first-row-first img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

/*first-row-second*/
.first-row-second {
  width: 50%;
  padding: 7px;
}
.first-row-second img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

/*third-second-row-first*/
.third-second-row {
  height: 450px;
  display: flex;
}
.second-row-first {
  width: 50%;
  margin: 7px;
}
.second-row-info {
  height: 71%;
  border: 13.3px solid #6d6875;
  padding: 50px;
}
.second-row-info-header p {
  font-size: 36px;
  color: #343a40;
}
.second-row-info-details p {
  font-size: 17px;
}
@media only screen and (max-width: 1210px) {
  .second-row-info-details p {
    font-size: 12px;
  }

  .second-row-info {
    padding: 20px;
  }
}

.second-row-info-redmore {
  margin-top: 15px;
}
.second-row-info-redmore a {
  border: none;
  background-color: #343a40;
  color: white;
  border-radius: 3px;
  padding: 5px 10px;
  text-decoration: none;
}

/*third-second-row-second*/
.image-gallary {
  width: 50%;
  padding: 7px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 50%);
}
.image-gallary-one {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  padding-right: 7px;
  padding-bottom: 7px;
}
.image-gallary-two {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  padding-left: 7px;
}
.image-gallary-three {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  padding-top: 7px;
  padding-right: 7px;
}
.image-gallary-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* -------------------------------------------- */

@media only screen and (max-width: 950px) {
  .third {
    margin: 30px 30px;
  }

  .third-first-row {
    height: 250px;
  }

  .second-row-first {
    width: 100%;
    margin: 7px;
  }
  .second-row-info {
    border: none;
    padding: 10px 0 10px 0;
  }
  .second-row-info-header p {
    font-size: 20px;
    color: #6d6875;
    padding-bottom: 10px;
  }

  .third-second-row {
    height: 100%;
    display: grid;
  }

  .image-gallary {
    width: 100%;
    height: 300px;
    padding: 7px 0;
    display: flex;
    justify-content: space-between;
  }
  .image-gallary-one {
    flex: 1;
    padding: 5px;
  }
  .image-gallary-two {
    flex: 1;
    padding: 5px;
  }
  .image-gallary-three {
    flex: 1;
    padding: 5px;
  }
  .image-gallary-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
